{% extends 'admin-layout.html.twig' %}

{% block cat_nav_menu %}
    {% include 'recipeCatalog/cat-nav-menu.html.twig' %}
{% endblock %}

{% block cat_workspace %}
    <div class="cat-workspace-container">
        <h3>{{ catalog.title }}</h3>
    </div>
{% endblock %}
